:root {
	/* Default is dark theme. */
	--bg: #21242b;
	--hbg: #4545450f;
	--fg: #bfc1c0b3;
	--hl: #6e6e6e8f;

	--monospace: 'CMU Typewriter Text', monospace;
	--serif: 'CMU Serif', serif;
}

@media (prefers-color-scheme: light) {
	:root {
		--fg: #21242b;
		--bg: #d6dbdf;
	}
}

* {
	box-sizing: border-box;
}

html {
	font-family: var(--serif);
	font-size: 16px;
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--bg);
	color: var(--fg);
}

.tzOffs {
	opacity: 0.4;
	font-size: 1.3rem;
	font-family: var(--monospace);
	margin-left: 6pt;
}

#time {
	font-size: 3.5rem;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.favorites {
	display: flex;
	flex-direction: row;
}

.favorites-list {
	text-align: center;
	width: 10rem;
	margin: 2rem;
}

.search {
	width: 30rem;
	padding: 0;
	/*border: 1px solid var(--hl);
	border-radius: 2pt;*/
	background: var(--hbg);
	border-top: 1pt solid var(--hl);
}

#search-box {
	width: 100%;
	padding: 0.8em 0.7em;
	background-color: transparent;
	color: var(--hl);
	border: none;
	font-family: var(--monospace);
}

#search-box:focus {
	color: #939393;
	background-color: #fff1;
	outline: 1pt solid #fff3;
	box-shadow: 0 0 10pt #fff3;
}

ul {
	list-style: none;
	padding: 0;
	font-family: var(--monospace);
	/* font-style: italic; */
}

ul > li > p {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid var(--hl);
	padding-right: 100%;
	margin: 0;
}

ul > li > a {
	color: var(--fg);
	outline: none;
	background-color: var(--hbg);
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 0.5rem;
	transition: all .05s ease;
}

ul > li > a:hover {
	color: #202d39;
	background-color: #ffffff61;
}

ul > li > a:focus {
	color: #202d39;
	background-color: #fff4;
	outline: 1pt solid #fff4;
	box-shadow: 0 0 10pt #fff3;
}

/* webkit compat */
.container {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
}

.favorites {
	display: -webkit-flex;
	-webkit-flex-direction: row;
}
